
/* Created   by https://github.com/rxyhn 
   Designed  by https://github.com/rxyhn
   Maintaned by https://github.com/rxyhn
*/

// Global
*{
  all: unset;
  font-family: "Jetbrainsmono Nerd Font" ;
  border-radius: 4.0rem;
  background: transparent;
}

.main {
  background: rgba(58, 58, 58, 0.4) ;
  /* opacity: 0.0; */
  margin: .3rem .0rem .3rem 5px;
  border: solid;
  border-color: #282828;
  /* border-width: 3px; */
  /* box-shadow: 1px 0px 2px -1px rgba(100,100,100,10) ; */
}

.bar {
  // padding: 5px;
  // margin : 50px;
}

.workspace {
  /* box-shadow: 1px 1px 2px 2px rgba(18,18,18,200) ; */
  padding: 0px 8px 0px 4px;
  border-radius: 4.5rem;
  background: rgba(256,  256, 256, 0.1) ;
  margin: 2px 0px 2px 0px;
}

.prog {
  /* box-shadow: 1px 1px 2px 2px rgba(32,32,32,200) ; */
  background: rgba(256,  256, 256, 0.1) ;

}

.time {
  background: rgba(256,  256, 256, 0.1) ; 
  margin: 3px;

}

button {
  all: unset;
}

scale trough {
  all: unset;
  background-color: #282828;
  border-radius: 5px;
  min-height: 80px;
  min-width: 10px;
  margin: .3rem 0 .3rem 0;
}
