
/* Created   by https://github.com/rxyhn 
   Designed  by https://github.com/rxyhn
   Maintaned by https://github.com/rxyhn
*/

// Global
*{
  all: unset;
  font-family: "Jetbrainsmono Nerd Font" ;
  background: #282828;
  border-radius: 4.0rem;
}


button {
  all: unset;
}

scale trough {
  all: unset;
  background-color: #282828;
  border-radius: 5px;
  min-height: 80px;
  min-width: 10px;
  margin: .3rem 0 .3rem 0;
}
